{% extends "decision/base.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'decision/main.css' %}">
    <!--
    ================================================================================
    Timer that displays time elapsed since beginning of Trauma
    ================================================================================
    -->

    <br>

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-7">
                <div class="card">
                    <div class="card-header pi-header">
                        Patient Information
                    </div>
                    <div class="card-body pi-body">
                        <div class="row justify-content-center">
                            <div class="col-3 mx-auto">
                                <div id="patientWeight">[Weight]</div>
                                <hr>
                                <div id="patientAge">[Age]</div>
                            </div>
                            <div class="col-4 mx-auto pi-col-divider">
                                <div id="patientAddlInfo">[Additional Info]</div>
                            </div>
                            <div class="col-4 mx-auto">
                                <div id="patientHistory">[History]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 d-flex justify-content-center">
                <div class="timer-summary" id="timer">
                    <label id="hours">00</label>:<label id="minutes">00</label>:<label id="seconds">00</label>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-3">
                <div class="card">
                    <div class="card-header pi-header">
                        ABCDE Protocol
                    </div>
                    <div class="card-body pi-body card-height">
                        <ul class="list-group list-group-flush card-ul">
                            <li class="list-group-item card-li">
                                <a class="card-a">Airway: ETT taped at
                                    <script type="text/javascript">
                                        document.write(localStorage.getItem("ETT Depth"))
                                    </script>
                                    cm
                                </a>
                            </li>
                            <li class="list-group-item card-li">
                                <a class="card-a">
                                    Breathing: BMV at
                                    <script type="text/javascript">
                                        document.write(localStorage.getItem("BVM BPM"))
                                    </script>
                                    breaths/min
                                </a>
                            </li>
                            <li class="list-group-item card-li">
                                <a class="card-a">
                                    [Circulation]
                                </a>
                            </li>
                            <li class="list-group-item card-li">
                                <a class="card-a">
                                    Disability:<br/>
                                    Pupils: Right:
                                    <script type="text/javascript">
                                        document.write(localStorage.getItem("Right Pupil Size"))
                                    </script>
                                    mm
                                    Left:
                                    <script type="text/javascript">
                                        document.write(localStorage.getItem("Left Pupil Size"))
                                    </script>
                                    mm
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header pi-header">
                        Alerts
                    </div>
                    <div class="card-body pi-body alert-format alerts-scrollable card-height" id="alert_placeholder">
                        <div class="row h-100 justify-content-center align-items-center">
                            <div class="col h-100 mx-auto">
                                <div>
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Consider additional PIV</strong>
                                    </div>
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Check Airway Placement! </strong>
                                    </div>
                                    <div class="alert alert-danger" role="alert">
                                        <strong>ETCO<sub>2</sub> is very low! Confirm pulse and Airway</strong>
                                    </div>
                                    <div class="alert alert-danger" role="alert">
                                        <strong>No ETCO<sub>2</sub> measured!</strong>
                                    </div>
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Bradycardia: Consider cause!</strong>
                                    </div>
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Excess IVFs, consider transfusion</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                ================================================================================
                JavaScript to create new timer for current session and check for previous alerts

                This script is the same as the one in home.html but with additional calculations
                to compensate for the fact that the Summary page will be opened after the timer
                has started.
                ================================================================================
                -->
                <script type="text/javascript" src="{% static "js/runTimerSummary.js" %}"></script>
                <script type="text/javascript" src="{% static "js/generalAlertSystem.js" %}"></script>
                <script type="text/javascript" src="{% static "js/checkAlertsOnRefresh.js" %}"></script>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header pi-header">
                        Vitals
                    </div>
                    <div class="card-body pi-body vitals-format card-height" id="vitals_placeholder">
                        <ul class="list-group list-group-flush card-ul">
                            <li class="list-group-item card-li">
                                <a class="card-a">
                                    <div class="row-fill" id="hr_display">HR:</div>
                                </a>
                            </li>
                            <li class="list-group-item card-li">
                                <a class="card-a">
                                    <div class="row-fill row-divider" id="bp_display">SBP:</div>
                                </a>
                            </li>
                            <li class="list-group-item card-li">
                                <a class="card-a">
                                    <div class="row-fill row-divider" id="shock_display">Shock:</div>
                                </a>
                            </li>
                            <li class="list-group-item card-li">
                                <a class="card-a">
                                    <div class="row-fill row-divider" id="gcs_display">GCS:</div>
                                </a>
                            </li>
                            <li class="list-group-item card-li">
                                <a class="card-a">
                                    <div class="row-fill row-divider" id="etco2_display">ETCO<sub>2</sub>:</div>
                                </a>
                            </li>
                    </div>
                </div>
            </div>
        </div>
        <!--
        ================================================================================
        Container for JavaScript vitals system
        ================================================================================
        -->
        <script type="text/javascript" src="{% static "js/updateSummary.js" %}"></script>
    </div>

    </div>
    </div>





    <script type="text/javascript">
        $.ajax({
            type: "GET",
            url: '/populateSummary/',
            success: function (data) {
                localStorage.setItem("Age", data.age);
                document.getElementById('patientAge').innerHTML = data.age + ' yrs';
                document.getElementById('patientWeight').innerHTML = data.weight + ' lbs';
                document.getElementById('patientAddlInfo').innerHTML = data.addInfo;
                document.getElementById('patientHistory').innerHTML = data.history;
            }
        });
    </script>

{% endblock content %}