{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<script type="text/javascript" src="{% static "js/getMetrics.js" %}"></script>

<h1>Airway</h1>

<h2>Oxygen Supplementation Initiated</h2>
<div id="oxSuppHist"></div>

<h2>Bag Mask</h2>
<div id="bagMaskHist"></div>

<h2>LMA</h2>
<div id="lmaHist"></div>

<h2>ETT</h2>
<div id="ettHist"></div>

<h2>Difficult Airway</h2>
<div id="diffAirwayHist"></div>

<h2>Surgical Airway</h2>
<div id="surgAirwayhist"></div>


<h1>Breathing</h1>

<h2>Spontaneous Breathing</h2>
<div id="spontBreathHist"></div>

<h2>Assisted Breathing</h2>
<div id="assistBreathHist"></div>

<h2>Right Chest Sounds</h2>
<div id="rightChestHist"></div>

<h2>Left Chest Sounds</h2>
<div id="leftChestHist"></div>

<h2>ETC0<sub>2</sub> Values</h2>
<div id="etco2Hist"></div>


<h1>Circulation</h1>

<h2>Lip Color</h2>
<div id="lipHist"></div>

<h2>Nail Color</h2>
<div id="nailHist"></div>

<h2>Capillary Refill</h2>
<div id="capHist"></div>

<h2>PIV</h2>
<div id="pivHist"></div>

<h2>Central Line</h2>
<div id="clHist"></div>

<h2>Intraosseous Line</h2>
<div id="ioHist"></div>

<h2>IVF</h2>
<div id="ivfHist"></div>

<h2>Type And Cross</h2>
<div id="typeHist"></div>

<h2>Transfused PRBC</h2>
<div id="prbcHist"></div>

<h2>Massive Transfusion Protocol</h2>
<div id="mtpHist"></div>

<h2>HR Values</h2>
<div id="hrHist"></div>

<h2>BP Values</h2>
<div id="bpHist"></div>


<h1>Disability</h1>

<h2>GCS Values</h2>
<div id="gcsHist"></div>

<h2>GCS Verbal Values</h2>
<div id="gcsVerbalHist"></div>

<h2>GCS Motor Values</h2>
<div id="gcsMotorHist"></div>

<h2>GCS Eye Values</h2>
<div id="gcsEyeHist"></div>

<h2>Shock Values</h2>
<div id="shockHist"></div>

<h2>Pupils Round</h2>
<div id="roundHist"></div>

<h2>Pupils Reactive</h2>
<div id="reactiveHist"></div>

<h2>Pupils Equal</h2>
<div id="equalHist"></div>

<h2>Moves Extremities</h2>
<div id="movesHist"></div>

<h2>Right Pupil Size Values</h2>
<div id="rightPupilHist"></div>

<h2>Left Pupil Size Values</h2>
<div id="leftPupilHist"></div>

<h1>Exposure</h1>
</body>
</html>