{% load static %}
<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'decision/main.css' %}">

	{% if title %}
		<title>Django Decision - {{ title }}</title>
	{% else %}
		<title>Django Decision</title>
	{% endif %}
</head>
<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="{% url 'decision-home' %}">Trauma Bay Decision App</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{% url 'decision-home' %}">Decision App</a>
	          <a class="nav-item nav-link" href="{% url 'summary' %}">Summary Page</a>
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	          <a class="nav-item nav-link" href="#">Login</a>
	          <a class="nav-item nav-link" href="#">Register</a>
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>
    <main>
        <div id="init-trauma"  class="container">
            <br><br><br><br><center><form action="{% url 'startTimer' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-lg"  value="Start Session" name="start-btn">
            </form></center>
        </div>
    </main>
</body>
