{% extends "decision/base.html" %}
{% load static %}
{% block content %}

    <!-- Initializes timer and local storage data -->
    <script type="text/javascript" src="{% static "js/initTimer.js" %}"></script>

    <div class="container">
        <div class="row justify-content-center">
            <div class="startForm">
                <form action="{% url 'startTrauma' %}" method="POST">
                    <div class="form-row">
                        <label>Weight</label>
                        <input type="text" class="form-control" id="patientWeight">
                    </div>

                    <div class="form-row">
                        <label>Age</label>
                        <input type="text" class="form-control" id="patientAge">
                    </div>

                    <div class="form-row">
                        <label for="incidentInfo">Patient History</label>
                        <textarea class="form-control" id="patientHistory" rows="3"></textarea>
                    </div>

                    <div class="form-row">
                        <label for="initialInfo">Additional Info</label>
                        <textarea class="form-control" id="addlInfo" rows="3"></textarea>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-xl startButton" name="start-btn">Start Session
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
