{% extends "decision/base.html" %}
{% block content %}

    <!--
    ================================================================================
    Javascript for survey input validation
    ================================================================================
    -->
    <script>
        $(".readonly").keydown(function (e) {
            e.preventDefault();
        });
    </script>

    <h1><strong>ABCDE Protocol</strong></h1>
    <br>

    <!--
    ================================================================================
    Airway Checklist
    ================================================================================
    -->

    <hr>
    <br>
    <form>
        <h3><b>A</b>: <b>A</b>irway</h3>
        <hr>
        <br>
        <button type="submit" class="btn btn-primary">Check Assessment</button>
    </form>

    <!--
    ================================================================================
    Breathing Checklist
    ================================================================================
    -->

    <hr>
    <br>
    <form>
        <h3><b>B</b>: <b>B</b>reathing</h3>
        <hr>
        <br>
        <button type="submit" class="btn btn-primary">Check Assessment</button>
    </form>

    <!--
    ================================================================================
    Circulation Checklist
    ================================================================================
    -->

    <hr>
    <br>
    <form>
        <h3><b>C</b>: <b>C</b>irculation</h3>
        <hr>
        <br>
        <button type="submit" class="btn btn-primary">Check Assessment</button>
    </form>

    <!--
    ================================================================================
    Disability Checklist
    ================================================================================
    -->

    <hr>
    <br>
    <form>
        <h3><b>D</b>: <b>D</b>isability</h3>
        <hr>
        <br>
        <button type="submit" class="btn btn-primary">Check Assessment</button>
    </form>

    <!--
    ================================================================================
    Exposure Checklist
    ================================================================================
    -->

    <hr>
    <br>
    <form>
        <h3><b>E</b>: <b>E</b>xposure</h3>
        <hr>
        <br>
        <button type="submit" class="btn btn-primary">Check Assessment</button>
    </form>

    <!--
    ================================================================================
    Leaving this here in case deleting it messes up another function
    ================================================================================
    -->

    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}