body {
    background: #feffff;
    color: #555555;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

ul {
    margin: 0;
}

.site-header .navbar-nav .nav-link {
    color: white;
}

.site-header .navbar-nav .nav-link:hover {
    color: #9fedd7;
}

.navbar-default {
    background-color: #17252a;
    border-bottom: 4px solid #fce181;
}

.navbar-default .navbar-brand {
    color: #555555;
}

.label-wrap {
    display: inline-block;
    text_align: right;
    padding-left: 5px;
    padding-top: 7px;
    white-space: nowrap;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

/*Formatting the timer on the summary page*/

.timer-summary {
    color: #414143;
    align-content: center;
    text-align: center;
    display: inline-block;
    font-size: 100px;
    position: fixed;
    right: 0;
    top: 5rem;
    width: 30%;
    z-index: 1;
    margin-left: 10px;
}
/*Formatting the text alert on the summary page*/
.alert-format {
    align-content: center;
    text-align: center;
    font-size: 30px;
    width: 60vw;
    height: 80vh;
    position: fixed;
    z-index: 1;
    top: 300px;
    left: 5px;
    bottom: 30px;
    overflow: auto
}

.vitals-format{
    align-content: center;
    width: 40vw;
    height: 80vh;
    position: fixed;
    z-index: 1;
    top: 300px;
    right: 5px;
    bottom: 30px;
}

#hr_placeholder{
    position: relative;
    font-size: 20px;
    padding-top: 15px;
    overflow: auto;
    text-decoration: underline;
    text-decoration-color: #9fedd7;
}

#bp_placeholder{
    font-size: 20px;
    position: relative;
    padding-top:15px;
    overflow: auto;
    text-decoration: underline;
    text-decoration-color: #fce181;
}

#shock_placeholder{
    font-size: 20px;
    position: relative;
    padding-top:15px;
    overflow: auto;
    text-decoration: underline;
    text-decoration-color: #edeae5;
}
/*Format the PCH logo in the navbar*/
#brandImage {
    width: 150px;
    height: 57.75px;
    display: inline-block;
    float: left;
}

.ph-banner {
    align-content: center;
    text-align: center;
    display: inline-block;
    position: fixed;
    z-index: 0;
    top: 6rem;
    left: 0;
    width: 70%;
    margin-right: 10px;
}

/*Adjust table styling, such as borders and cell fill*/
.table>tbody>tr>td,
.table>tbody>tr>th {
    background-color: rgba(0, 0, 0, 0);
    vertical-align: middle;
    border: 8px solid #2b7a78;
    align-content: center;
    table-layout: auto;
}

.td-weight {
    border-bottom: 4px solid #2b7a78 !important;
}

.td-age {
    border-top: 4px solid #2b7a78 !important;
}
