body {
    background: #29323A;
    color: #0a3303;
    margin-top: 5rem;
    margin-left: 140px;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #555555;
}

.site-header .navbar-nav .nav-link:hover {
    color: #D72331;
}

.navbar-default {
    background-color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #555555;
}

.label-wrap {
    display: inline-block;
    text_align: right;
    padding-left: 5px;
    padding-top: 7px;
    white-space: nowrap;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
    margin-top: 20px;
    background: white;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    color: #555555;
    display: block;
}

.card-header::after {
    content: "\f106";
    color: #333;
    right: 30px;
    top: 18px;
    position: absolute;
    font-family: "FontAwesome";
    font-size: 30px;
}

.card-header[aria-expanded="false"]::after {
    content: "\f107";
}

.card-header[aria-expanded="true"]::after {
    content: "\f106";
}

.timer-color {
    color: white;
}

#brandImage {
    width: 150px;
    height: 57.75px;
    display: inline-block;
    float: left;
}

.btn-xl {
    align-content: center;
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 15px;
}

.btn.btn-primary {
    background-color: #D72331;
    box-shadow: 0 8px 0 0 #6C1219;
    border: #6C1219;
    margin-top: 25%;
    margin-bottom: 25%;
}

.btn.btn-primary:hover {
    background-color: #A11A25;
}

.btn.btn-primary:visited {
    border-color: #86161F !important;
    margin-top: 25%;
    margin-bottom: 25%;
}

.btn.btn-primary:active:focus {
    background-color: #86161F !important;
    box-shadow: none !important;
    margin-top: 26%;
    margin-bottom: 26%;

}