body {
    background: #feffff;
    color: #39393B;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

ul {
    margin: 0;
}

/*Color for navigation bar links*/
.site-header .navbar-nav .nav-link {
    color: white;
}

/*Changes nav bar link color when interacted with*/
.site-header .navbar-nav .nav-link:hover {
    color: #9fedd7;
}

/*Background color for nav bar*/
.navbar-default {
    background-color: #17252a;
}

.navbar-default .navbar-brand {
    color: #39393B;
}

.label-wrap {
    display: inline-block;
    text_align: right;
    padding-left: 5px;
    padding-top: 7px;
    white-space: nowrap;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

/*Sidebar for shortcuts between accordion sections*/
.sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 60px;
    margin-top: 20px;
    background: #17252a;
    border-right: 4px solid #fce181;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    color: white;
    display: block;
}

/*Styling accordion headers when they are opened/closed*/
/*.card-header::after {
    content: "\f106";
    color: white;
    right: 30px;
    top: 18px;
    position: absolute;
    font-family: "FontAwesome";
    font-size: 30px;
}*/

/*.card-header[aria-expanded="false"]::after {
    content: "\f107";
}

.card-header[aria-expanded="true"]::after {
    content: "\f106";
}
/*
/*Formatting the timer on the decision and summary pages*/
.timer-decision {
    color: #39393B;
    text-align: center;
    display: inline-block;
    margin: 5px 5px 0px;
    font-size: 65px;
}

/*Formatting the text alert on the summary page*/
.alert-format {
    align-content: center;
    text-align: center;
    font-size: 30px;
    width: 60vw;
    height: 80vh;
    position: fixed;
    z-index: 1;
    top: 300px;
    left: 5px;
    bottom: 30px;
    overflow: auto
}

.vitals-format{
    align-content: center;
    width: 40vw;
    height: 80vh;
    position: fixed;
    z-index: 1;
    top: 300px;
    right: 5px;
    bottom: 30px;
}

#hr_placeholder{
    position: relative;
    font-size: 20px;
    padding-top: 15px;
    overflow: auto;
}

#bp_placeholder{
    font-size: 20px;
    position: relative;
    padding-top:15px;
    overflow: auto;
}

#shock_placeholder{
    font-size: 20px;
    position: relative;
    padding-top:15px;
    overflow: auto;
}

/*Format the PCH logo in the navbar*/
#brandImage {
    width: 150px;
    height: 57.75px;
    display: inline-block;
    float: left;
}

#square {
    width: 150px;
    height: 57.75px;
    display: inline-block;
    float: left;
}

/*Create a large button for the landing page*/
.btn-xl {
    align-content: center;
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 15px;
}

.btn.btn-primary {
    background-color: #3aafa9;
    box-shadow: 0 8px 0 0 #1D5755;
    border: #1D5755;
    margin-top: 25%;
    margin-bottom: 25%;
}

.btn.btn-primary:hover {
    background-color: #2B837F;
}

.btn.btn-primary:visited {
    border-color: #246D6A !important;
    margin-top: 25%;
    margin-bottom: 25%;
}

.btn.btn-primary:active:focus {
    background-color: #246D6A !important;
    box-shadow: none !important;
    margin-top: 26%;
    margin-bottom: 26%;

}

/*Styling each section of the accordion*/
.collapse-A {
    background: #def2f1;
    border: 1.5px solid #2b7a78;
}

.collapse-B {
    background: #def2f1;
    border: 1.5px solid #2b7a78;
    }

.collapse-C {
    background: #def2f1;
    border: 1.5px solid #2b7a78;
    }

.collapse-D {
    background: #def2f1;
    border: 1.5px solid #2b7a78;
    }

.collapse-E {
    background: #def2f1;
    border: 1.5px solid #2b7a78;
   }

/*Format the geometric background graphics on the bottom*/
/*#bgDesign {
    position: fixed;
    right: 0px;
    bottom: 0px;
    max-width: 100%;
    height: auto;
    transform: scaleX(-1);
}*/

/*Remove underline from text links*/
.nounderline {
  text-decoration: none !important;
}

/*Change hover color for sidebar letters*/
a:hover{
    color: #9fedd7;
}

.btn-padding {
    width: 100%;
}

/*Accordion section color*/
/*.card-header {
    background-color: #3aafa9;
    border: 1.5px solid #2b7a78;
}*/

/*Text color for survey sections*/
h4 {
    color: #39393B;
}

/*Page accents, this is for the line under the nav bar*/
.nav-border {
    border-bottom: 4px solid #fce181;
    z-index: 1;

}

/*Allows for spacing between the vertical button groups*/
.btn-group-vertical>button{
    margin-bottom: 10px;
    border-radius: 0.25rem !important;
}

/*Adjusts spacing between clustered buttons in the 'Pupils' section*/
.btn-space {
    margin-bottom: 10px;
    border-radius: 0.25rem !important;
}


/*Creates border to make btn-light buttons pop against current theme*/
.btn-light {
    border-color: #2b7a78;
}

.startForm{
    align-content: center;
    text-align: center;
    display: inline-block;
    position: fixed;
    z-index: 0;
    left: 35%;
    top: 6rem;
    width: 30%;
    margin-right: 10px;
    margin-left: 10px;
}

.startButton{
    position: fixed;
    z-index: 0;
    left: 35%;
    top: 13rem;
    width: 30%;
    margin-right: 10px;
    margin-left: 10px;
}

.nav>li>a {
    padding: 0px 35px;
    font-size: 75px;
    font-weight: bold;
}

.card-scroll {
    height: 60vh;
    overflow-y: hidden;
}

.card {
    border: 4px solid #2b7a78;
}

.card-header {
    border-bottom: 4px solid #2b7a78;
    background-color: #3aafa9;
}

.card-header:first-child {
    border-radius: 0px;
}

.card-header-tabs {
    margin-bottom: -0.94rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #39393B;
    background-color: #fff;
    border-color: #2b7a78 #2b7a78 #fff;
}

.nav-tabs .nav-link {
    border: 4px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.survey-a {
    color: white;
}

.btn-group-vertical .btn, .btn-group-vertical .btn-group {
    width: 100%;
    height: 85px;
    font-size: 2rem;
}

.survey-p {
    font-size: 2rem;
    font-weight: bold;
}

.form-control {
    height: 75px;
    font-size: 1.6rem;
}

.disb-btn {
    font-size: 1.6rem !important;
}

.card-title {
    margin-bottom: 1.5rem;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(252,225,129,1) 50%, rgba(255,255,255,1) 100%);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3aafa9;
}

.survey-pill-a {
    color: #39393B;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.survey-col {
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: auto;
    max-height: 50vh;
}

.col-4 {
    border-right: 1.5px solid #2b7a78;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(230,245,244,1) 25%, rgba(230,245,244,1) 50%, rgba(230,245,244,1) 75%, rgba(255,255,255,1) 100%);
    overflow-y: auto;
    max-height: 50vh;
}

.scrollable {
  overflow-y: auto;
    max-height: 50vh;
}
